<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="core" value="https://gitlab.com/api/v4/projects/32360855/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
    <core>
        <add key="Username" value="hasanbakirci" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAsxZwkA4YDEqCI2rQyIrqKQAAAAACAAAAAAAQZgAAAAEAACAAAAAi/meuSy0pxX8BChjqJYKfCbjUNWSnrBKbCkCr6Mz3iAAAAAAOgAAAAAIAACAAAACc6wpxeLkVXLl0Jrso/sIaZnMUGVWSMMy+mkGl753R0SAAAADS7vsr1Y4ZRkDAid5onXlaorWNMYHYhzoC9l41PAOj6UAAAAD5BoD1VONHfx7wxqe99twfLOyhwVQUORuL2YWOaXhSC8KyhjH1r+kSbC0g3vgXWdmRX3v8BVM8Y60SsnY5uxNN" />
      </core>
  </packageSourceCredentials>
</configuration>